body{
	background:url(../images/pages_bg.png) repeat-x;
}

#wrapper #content{
	height: 761px;
}

#wrapper #content span{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 30px;
	text-transform: uppercase;
	color: #f9fbfd;
	display:block;
	height:38px;
	padding-top:12px;
}

#wrapper #content .cols{
	background:url(../images/services_bg.png) no-repeat;
	width:288px;
	float:left;
	margin-top:40px;
	margin-right:20px;
	height:612px;
}


#wrapper #content .cols p,.cols ul li{
	font-family: "Century Gothic", sans-serif;
	font-size:14px;
	color: #f9fbfd;
	padding-right:20px;
	padding-left:18px;
	line-height:1.3em;
	letter-spacing:-0.15px;
}

#wrapper #content .cols ul li{
	text-indent:15px;
}

#wrapper #content .cols p{
	padding-bottom:16px;
	padding-top:16px;	
}